#text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 15px 0 15px;
  font-size: 24px;
  color: #fff;
  margin: 8px 0;
  line-height: 1.3em;
}


#price-top {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
  color: #4dc1ee;
}

#price-bottom {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #c1e8f7;
  margin: 8px 0;
}

#sidebar {
  position: fixed;
  right: 8px;
  top: 10%;
  height: 80%;
  width: 0px;
  background-color: #fcfcfc;
  border-radius: 8px;
  z-index: 9999999;
}

#swoop-iframe {
  width: 98%;
  height: 98%;
  border: none;
  overflow: hidden;
  margin: 4px;
}
